<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% load static %}
</head>
<body>
    <h1>Полезные ресурсы</h1>
    <div class="links">
        <a href="https://vk.com/slesar_plus_vl" target="_blank"> <img src="{% static 'D:\DjangoWebProject4\app\static\app\content\logo1.png' %}" alt="logo 1" width="100" height="80"></a>
    </div>
</body>
</html>