<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница успеха</title>
</head>
<body>
    <h1>Спасибо за ваш отзыв!</h1>

    <h2>Ваш отзыв:</h2>
    <ul>
        <li><span>Имя:</span> {{ form.cleaned_data.name }}</li>
        <li><span>Email:</span> {{ form.cleaned_data.email }}</li>
        <li><span>Оценка дизайна:</span> {{ form.cleaned_data.rating_design }}</li>
        <li>
            <span>Удобство использования:</span>
            {% if form.cleaned_data.usability == 'easy' %}
            Легко
            {% elif form.cleaned_data.usability == 'medium' %}
            Средне
            {% else %}
            Сложно
            {% endif %}
        </li>
        <li><span>Предложения по улучшению:</span> {{ form.cleaned_data.improvements }}</li>
        <li>
            <span>Откуда узнали о нас:</span>
            {% if form.cleaned_data.source == 'search_engine' %}
            Поисковая система
            {% elif form.cleaned_data.source == 'social_media' %}
            Социальные сети
            {% elif form.cleaned_data.source == 'friend' %}
            Рекомендация друга
            {% else %}
            Другое
            {% endif %}
        </li>
        <li><span>Комментарии:</span> {{ form.cleaned_data.comments }}</li>
    </ul>
</body>
</html>
